.project-card {
    transition: transform 0.6s, box-shadow 0.3s;
  }
  
  .project-card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  }
  
  .project-card.hovered {
    background: rgba(231, 7, 7, 0.923);
  }
  